In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import math
import numpy as np

In [2]:
df_penguinslog = pd.read_csv('penguins_lter.csv')

In [3]:
df_penguinslog.shape

(344, 17)

In [4]:
df_penguinslog.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [5]:
df_penguinslog.describe()

,Sample Number,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo)
count,344.000000,342.000000,342.000000,342.000000,342.000000,330.000000,331.000000
mean,63.151163,43.921930,17.151170,200.915205,4201.754386,8.733382,-25.686292
std,40.430199,5.459584,1.974793,14.061714,801.954536,0.551770,0.793961
min,1.000000,32.100000,13.100000,172.000000,2700.000000,7.632200,-27.018540
25%,29.000000,39.225000,15.600000,190.000000,3550.000000,8.299890,-26.320305
50%,58.000000,44.450000,17.300000,197.000000,4050.000000,8.652405,-25.833520
75%,95.250000,48.500000,18.700000,213.000000,4750.000000,9.172123,-25.062050
max,152.000000,59.600000,21.500000,231.000000,6300.000000,10.025440,-23.787670

In [6]:
df_penguinslog.isna().sum()

studyName                0
Sample Number            0
Species                  0
Region                   0
Island                   0
Stage                    0
Individual ID            0
Clutch Completion        0
Date Egg                 0
Culmen Length (mm)       2
Culmen Depth (mm)        2
Flipper Length (mm)      2
Body Mass (g)            2
Sex                     10
Delta 15 N (o/oo)       14
Delta 13 C (o/oo)       13
Comments               318
dtype: int64

In [7]:
del df_penguinslog['Comments']

In [8]:
df_penguinslog = df_penguinslog.dropna(subset=['Culmen Length (mm)', 'Culmen Depth (mm)','Body Mass (g)','Sex'])

In [9]:
df_penguinslog['Delta 15 N (o/oo)'].fillna((df_penguinslog['Delta 15 N (o/oo)'].mean()), inplace=True)
df_penguinslog['Delta 13 C (o/oo)'].fillna((df_penguinslog['Delta 13 C (o/oo)'].mean()), inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [10]:
df_penguinslog = df_penguinslog[df_penguinslog['Sex'] != '.']

In [11]:
df_penguinslog.shape

(333, 16)

In [12]:
df_penguinslog_onehot = pd.get_dummies(df_penguinslog, columns = ["Sex", "Species", "Island"], prefix = ["sex", "Spc", "Isld"])

In [13]:
df_penguinslog_onehot.head()

,studyName,Sample Number,Region,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),...,Delta 15 N (o/oo),Delta 13 C (o/oo),sex_FEMALE,sex_MALE,Spc_Adelie Penguin (Pygoscelis adeliae),Spc_Chinstrap penguin (Pygoscelis antarctica),Spc_Gentoo penguin (Pygoscelis papua),Isld_Biscoe,Isld_Dream,Isld_Torgersen
0,PAL0708,1,Anvers,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,...,8.737794,-25.684381,0,1,1,0,0,0,0,1
1,PAL0708,2,Anvers,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,...,8.949560,-24.694540,1,0,1,0,0,0,0,1
2,PAL0708,3,Anvers,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,...,8.368210,-25.333020,1,0,1,0,0,0,0,1
4,PAL0708,5,Anvers,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,...,8.766510,-25.324260,1,0,1,0,0,0,0,1
5,PAL0708,6,Anvers,"Adult, 1 Egg Stage",N3A2,Yes,11/16/07,39.3,20.6,190.0,...,8.664960,-25.298050,0,1,1,0,0,0,0,1

In [14]:
## Min max scaling
lengthmin =df_penguinslog_onehot['Culmen Length (mm)'].min()
lengthmax = df_penguinslog_onehot['Culmen Length (mm)'].max()
newlist = []
for i in df_penguinslog_onehot['Culmen Length (mm)']:
    newlist.append((i-lengthmin)/(lengthmax-lengthmin))

df_penguinslog_onehot['Culmen Length (mm)'] = newlist

In [15]:
lengthmin =df_penguinslog_onehot['Culmen Depth (mm)'].min()
lengthmax = df_penguinslog_onehot['Culmen Depth (mm)'].max()
newlist = []
for i in df_penguinslog_onehot['Culmen Depth (mm)']:
    newlist.append((i-lengthmin)/(lengthmax-lengthmin))

df_penguinslog_onehot['Culmen Depth (mm)'] = newlist

In [16]:
lengthmin =df_penguinslog_onehot['Flipper Length (mm)'].min()
lengthmax = df_penguinslog_onehot['Flipper Length (mm)'].max()
newlist = []
for i in df_penguinslog_onehot['Flipper Length (mm)']:
    newlist.append((i-lengthmin)/(lengthmax-lengthmin))

df_penguinslog_onehot['Flipper Length (mm)'] = newlist

In [17]:
lengthmin =df_penguinslog_onehot['Body Mass (g)'].min()
lengthmax = df_penguinslog_onehot['Body Mass (g)'].max()
newlist = []
for i in df_penguinslog_onehot['Body Mass (g)']:
    newlist.append((i-lengthmin)/(lengthmax-lengthmin))

df_penguinslog_onehot['Body Mass (g)'] = newlist

In [18]:
df_penguinslog_onehot.head()

,studyName,Sample Number,Region,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),...,Delta 15 N (o/oo),Delta 13 C (o/oo),sex_FEMALE,sex_MALE,Spc_Adelie Penguin (Pygoscelis adeliae),Spc_Chinstrap penguin (Pygoscelis antarctica),Spc_Gentoo penguin (Pygoscelis papua),Isld_Biscoe,Isld_Dream,Isld_Torgersen
0,PAL0708,1,Anvers,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,0.254545,0.666667,0.152542,...,8.737794,-25.684381,0,1,1,0,0,0,0,1
1,PAL0708,2,Anvers,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,0.269091,0.511905,0.237288,...,8.949560,-24.694540,1,0,1,0,0,0,0,1
2,PAL0708,3,Anvers,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,0.298182,0.583333,0.389831,...,8.368210,-25.333020,1,0,1,0,0,0,0,1
4,PAL0708,5,Anvers,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,0.167273,0.738095,0.355932,...,8.766510,-25.324260,1,0,1,0,0,0,0,1
5,PAL0708,6,Anvers,"Adult, 1 Egg Stage",N3A2,Yes,11/16/07,0.261818,0.892857,0.305085,...,8.664960,-25.298050,0,1,1,0,0,0,0,1

In [19]:
newdf = df_penguinslog_onehot.iloc[:,7:]

In [20]:
newdf.head()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo),sex_FEMALE,sex_MALE,Spc_Adelie Penguin (Pygoscelis adeliae),Spc_Chinstrap penguin (Pygoscelis antarctica),Spc_Gentoo penguin (Pygoscelis papua),Isld_Biscoe,Isld_Dream,Isld_Torgersen
0,0.254545,0.666667,0.152542,0.291667,8.737794,-25.684381,0,1,1,0,0,0,0,1
1,0.269091,0.511905,0.237288,0.305556,8.949560,-24.694540,1,0,1,0,0,0,0,1
2,0.298182,0.583333,0.389831,0.152778,8.368210,-25.333020,1,0,1,0,0,0,0,1
4,0.167273,0.738095,0.355932,0.208333,8.766510,-25.324260,1,0,1,0,0,0,0,1
5,0.261818,0.892857,0.305085,0.263889,8.664960,-25.298050,0,1,1,0,0,0,0,1

In [21]:
# Shuffle your dataset 
shuffle_df = df_penguinslog_onehot.sample(frac=1)

# Define a size for your train set 
train_size = int(0.8 * len(df_penguinslog_onehot))

# Split your dataset 
train_set = shuffle_df[:train_size]
test_set = shuffle_df[train_size:]

In [22]:
train_set.shape

(266, 21)

In [23]:
test_set.head()

,studyName,Sample Number,Region,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),...,Delta 15 N (o/oo),Delta 13 C (o/oo),sex_FEMALE,sex_MALE,Spc_Adelie Penguin (Pygoscelis adeliae),Spc_Chinstrap penguin (Pygoscelis antarctica),Spc_Gentoo penguin (Pygoscelis papua),Isld_Biscoe,Isld_Dream,Isld_Torgersen
120,PAL0910,121,Anvers,"Adult, 1 Egg Stage",N66A1,No,11/17/09,0.149091,0.488095,0.254237,...,9.04296,-26.19444,1,0,1,0,0,0,0,1
272,PAL0809,53,Anvers,"Adult, 1 Egg Stage",N14A1,Yes,11/4/08,0.472727,0.154762,0.644068,...,8.51951,-27.01854,1,0,0,0,1,1,0,0
121,PAL0910,122,Anvers,"Adult, 1 Egg Stage",N66A2,No,11/17/09,0.203636,0.797619,0.440678,...,9.11066,-26.42563,0,1,1,0,0,0,0,1
7,PAL0708,8,Anvers,"Adult, 1 Egg Stage",N4A2,No,11/15/07,0.258182,0.773810,0.389831,...,9.46060,-24.89958,0,1,1,0,0,0,0,1
136,PAL0910,137,Anvers,"Adult, 1 Egg Stage",N78A1,Yes,11/16/09,0.127273,0.523810,0.322034,...,8.75984,-25.97696,1,0,1,0,0,0,1,0

In [24]:
newdf.head(10)

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo),sex_FEMALE,sex_MALE,Spc_Adelie Penguin (Pygoscelis adeliae),Spc_Chinstrap penguin (Pygoscelis antarctica),Spc_Gentoo penguin (Pygoscelis papua),Isld_Biscoe,Isld_Dream,Isld_Torgersen
0,0.254545,0.666667,0.152542,0.291667,8.737794,-25.684381,0,1,1,0,0,0,0,1
1,0.269091,0.511905,0.237288,0.305556,8.949560,-24.694540,1,0,1,0,0,0,0,1
2,0.298182,0.583333,0.389831,0.152778,8.368210,-25.333020,1,0,1,0,0,0,0,1
4,0.167273,0.738095,0.355932,0.208333,8.766510,-25.324260,1,0,1,0,0,0,0,1
5,0.261818,0.892857,0.305085,0.263889,8.664960,-25.298050,0,1,1,0,0,0,0,1
6,0.247273,0.559524,0.152542,0.256944,9.187180,-25.217990,1,0,1,0,0,0,0,1
7,0.258182,0.773810,0.389831,0.548611,9.460600,-24.899580,0,1,1,0,0,0,0,1
12,0.327273,0.535714,0.169492,0.138889,8.737794,-25.684381,1,0,1,0,0,0,0,1
13,0.236364,0.964286,0.322034,0.305556,8.737794,-25.684381,0,1,1,0,0,0,0,1
14,0.090909,0.952381,0.440678,0.472222,8.555830,-25.225880,0,1,1,0,0,0,0,1

In [25]:
class LogsitcRegression:

  def __init__(self, lrate, noiter, dataframe):
      self.lrate = lrate
      self.noiter = noiter
      self.x = dataframe.iloc[:,[0,1,2,3,4,5,6,7,9,10,11,12,13]]
      self.y = dataframe.iloc[:,8]
      self.w = np.random.uniform(0,1,len(self.x.columns))
      self.b = 0

  def sigmoid(self,x):
    return 1/(1+math.e**(-x))

  def fit(self):
    self.ratesgraph = []
    for i in range(self.noiter):
        temp = self.sigmoid(np.dot(self.x,self.w)+self.b)
        self.ratesgraph.append(self.square_loss(temp, self.y))
        print('---Epoch:',i,'-----Error:',self.square_loss(temp, self.y))
        self.w = self.gradientdescent(self.x, temp, self.y)[0]
        self.b = self.gradientdescent(self.x, temp, self.y)[1]
    return self.ratesgraph

  def square_loss(self,y_pred, true_y):
      return np.mean(pow((y_pred - true_y),2))

   
  #def cost(self, ):
   # return (1/len(dataframe))*(-true_y*(np.log(predvalues)-(1-true_y))*np.log(1-predvalues))

  def gradientdescent(self,dataframe, yhat, true_y):
    updatedweights = self.lrate*np.dot((yhat-true_y).T, self.x)/self.x.shape[0]
    updatedbias = np.mean(yhat-true_y)
    return (self.w-updatedweights), (self.b-updatedbias)

  def plot(self):
        plt.figure()
        plt.plot(self.ratesgraph)

In [ ]:
reg = LogsitcRegression(0.001, 10000, newdf)
reg.fit()
reg.plot()